<ui-view>
  <div  class='height-100 relative padding-top-15' ng-controller="ForgotPasswordCtrl">
    <div class='align-center padding-15'>
      <h3>Forgot Password</h3>
      <div class="list">
        <label class="item item-input">
          <form name='resetPasswordForm' novalidate>
            <input ng-model="recovery_email" name="recovery_email" type="email" placeholder="Recovery Email" required/>
          </form>
        </label>
      </div>
      <div class='invalid'>
        <span ng-show="showError(resetPasswordForm.recovery_email, 'email')"> 
            You must enter a valid email address.
        </span>
        <span ng-show="showError(resetPasswordForm.recovery_email, 'required')"> 
            Email is required.
        </span>
      </div>
      <div ng-if="response.error" class='invalid'>
        {{response.message}}
      </div>
    </div>

    <div class='splash-buttons padding-15 padding-top-15'>
      <div class='opacity'></div>
      <a ng-click="resetPassword()" class="button button-block button-empty">Reset Password</a>
      <a ui-sref="splash.login" class="button button-block button-empty">Cancel</a>
    </div>
  </div>
</ui-view>