
<div ng-controller="LogInFormCtrl" class='padding-15'>

  <a class='button button-block button-positive' ng-click="facebookLogIn()">Login with Facebook</a>

  <h2 class='align-center'>Or</h2>
  
  <form name='logInForm' novalidate>
    <div class="list">
      <label class="item item-input">
        <input type="email" name='username' placeholder="Email" ng-model="user.username" required>
        <span class='invalid' ng-show="showError(logInForm.username, 'email')"> 
          You must enter a valid email address.
        </span>
        <span class='invalid' ng-show="showError(logInForm.username, 'required')"> 
          Email is required.
        </span>
      </label>
      <label class="item item-input">
        <input type="password" name='password'  placeholder="Password" ng-model="user.password" required>
        <span class='invalid' ng-show="showError(logInForm.password, 'required')"> 
          Password is required.
        </span>
      </label>
    </div>
    <div class='invalid' ng-if="response.error" >
      {{response.message}}
    </div>
    <button class="button button-block button-blank" ng-click="logIn()">Login</button>
    <a class='button button-block button-blank' ui-sref='splash'>Cancel</a>
  </form>
</div>